.image-container {
  height: 350px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.header-text {
  display: flex;
  padding: 10px 15px;
  width: 50%;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
