.nav {
  display: flex;
  padding: 10px;
  background-color: white;
  width: 100%;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  li {
    display: flex;
    a {
      color: black;
      font-weight: bold;
      font-size: 1.2em;
      @include tablet {
        display: none;
        z-index: -1;
      }
    }
  }
  #logo {
    @include tablet {
      display: flex;
      justify-content: center
    }
  }
}
