* {
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  max-width: 2000px;
  background-color: $blue-background;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

li {
  list-style: none;
}
