* {
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: $blue-background;
}

li {
  list-style: none;
}
